body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

#interface {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    color: #777;
}

h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
    color: #333;
}

p {
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #777;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.color-change {
    transition: color 0.3s ease-in-out;
}

.color-activated {
    color: #023f72; 
}
